:root {
  --primary-color: #d279b05f;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.body{
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}
.about_me {
  text-transform: uppercase;
  padding-top: 100px;
  text-align: center;
}
.title {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  font-weight: 500;
}
em {
  color: rgb(124, 177, 177);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.short {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.portfolio{
  display: flex;
  justify-content:space-evenly;
}
.card-group{
  display: block;
  margin: 0 auto;
   width: 820px;
}
.card-group .card{
    border-radius: 50px;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
.carousel{
 padding-top: 50px;
  display: block;
  margin: 0 auto;
}
.carousel img{
  width: 100%;
  height: 550px;
  object-fit:contain;
}
.my_works{
  padding-bottom: 100px;
}
.my_works h1{
  margin-top: 50px;
  color: rgb(83, 120, 120);
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.short_works{
  color: rgb(50, 71, 71);
  text-align: center;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  width: 500px;
}
.about_page{
  text-transform: uppercase;
  padding-top: 100px;
  text-align: center;
}
.about_text{
  color: rgb(25, 165, 165);
}
.navigation-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.navigation-links a {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact a{
  text-decoration: none;
  font-size: 30px;
  color:rgb(85, 163, 223);
}
img{
  border-radius: 20px;
}
footer {
  background-color: #ffffff;
  color: #363535;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 50px;
}
footer a{
  text-decoration: none;
  color: #27145e;
}